{{#d-modal-body class="add-app" title=title}}
  {{{i18n 'app.remove.body' appTitle=(app-title model)}}}
{{/d-modal-body}}
<div class="modal-footer">
  {{d-button action="removeApp" label="app.remove.btn" class="btn-primary"}}
  {{d-button action="cancel" label="composer.cancel"}}
</div>
