<div class="user-apps">
  {{#each apps as |a|}}
    {{user-app-card app=a removeApp='removeApp'}}
  {{/each}}
</div>
{{d-button label='app.store.link' action='goToStore' icon='plus' class='btn btn-primary'}}
