{{#if showControls}}
  <div class='user-control'>
    <a class="edit-sidebars" {{action 'editSidebars'}}>{{i18n editText}}</a>
  </div>
{{/if}}
{{#if showPrompt}}
  <a href="/app/store" class="store-prompt">
    {{i18n 'app.store.prompt.install_app'}}
  </a>
{{/if}}
